{% extends 'base.html' %}
 {% load static %}
{% block content %}
<div class="menu">
    {% for product in products %}
    <div class="product-card">
        <img src="{{ product.image_url.url }}" alt="{{ product.name }}">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <p>Цена: {{ product.price }} руб.</p>
        <form action="{% url 'add_to_cart' product.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Добавить</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}
