/* Основные стили */
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-color: #f4f4f4;
    height: 100vh; /* Установлено, чтобы 100% высоты экрана учитывалось */
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #222;
    color: #eee;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
}

.slider, .video {
    width: 85%; /* Ширина 85% */
    height: 50vh; /* Высота 50% экрана */
    margin: 10px auto;
}

.slider {
    display: flex;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: 100%; /* Заполняет 100% высоты блока */
    object-fit: cover; /* Обеспечивает правильное отображение изображения */
}

.video {
    text-align: center;
}

.video video {
    width: 100%;
    height: 100%; /* Заполняет 100% высоты блока */
    object-fit: cover; /* Обеспечивает правильное отображение видео */
}

@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .product-card {
        width: 90%;
        margin-bottom: 20px;
    }

    .slider, .video {
        width: 90%; /* Чуть больше ширины на мобильных устройствах */
        height: 40vh; /* Немного меньше высоты на мобильных устройствах */
    }
}
